@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Neutral Colors */
  --dark-gray: hsl(0, 0%, 59%);
  --darker-gray: hsl(0, 0%, 17%);

  /* Typography */
  --font-family: Rubik, Arial, Helvetica, sans-serif;
  --font-size-paragraph: 18px;
}

body {
  font-family: var(--font-family);
  font-size: var(--font-size-paragraph);
  color: var(--darker-gray);
}

.custom-toast-container {
  width: 400px; /* Default width for desktop */
}

@media (max-width: 768px) {
  .custom-toast-container {
    width: 90%;
    margin-left: 5%;
  }
}